.feature-card {
    width: 225px; /* Chiều rộng card */
    height: 300px; /* Chiều cao card */
    overflow: hidden; /* Đảm bảo hình ảnh không vượt quá card */
    border-radius: 8px;
    background-color: #e0e2e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    font-family: Arial, sans-serif;
  }
  
  .feature-card__image-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .feature-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Đảm bảo hình ảnh hiển thị đầy đủ trong khung */
    border-radius: 8px;
  }
  
  .feature-card__favorite-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 20px;
    color: #999;
    background: rgba(255, 255, 255, 0.8);
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .feature-card__favorite-icon:hover {
    color: #f00; /* Đổi màu khi hover */
  }
  
  .feature-card__info {
    position: absolute;
    bottom: 8px;
    left: 8px;
    color: #000;
    padding: 8px;
    border-radius: 4px;
  }
  
  .feature-card__title {
    font-size: 12px;
    font-weight: bold;
  }
  
  .feature-card__address {
    font-size: 10px;
    margin-top: 4px; /* Khoảng cách giữa title và address */
    color: #a4a4a4; /* Màu nhạt hơn để phân biệt với title */
  }

  .feature-card__avatar {
    width: 40px; /* Kích thước avatar */
    height: 40px;
    border-radius: 50%; /* Tạo hình tròn */
    margin-bottom: 8px; /* Khoảng cách giữa avatar và title */
    border: 2px solid white; /* Đường viền trắng xung quanh */
  }
  