.booking-table-container {
    margin-left: 170px; 
    margin-top: 20px; 
  }
  
  .booking-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 18px;
  }
  
  .booking-table th, .booking-table td {
    padding: 20px; 
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .booking-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  